@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0
}

body {
    background-color: azure;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.foodImg {
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 2px solid rgb(0, 2, 0); */
}

.foodImg img {
    width: 25%;
    /* height: 00%; */
    padding: 25px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
    /* outline: 2px solid rgb(48, 66, 48); */
}

.foodImg img:hover {
    /* transition: 0.8s; */
    /* transform: rotateY(360deg);x */
    cursor: pointer;
    /* filter: grayscale(100%); */
    opacity: 0.8;
}

.recipe h3 {
    margin: 20px;
}

.recipe p {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

#ChunkDataName {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    text-transform: uppercase;
    border-bottom: 2px solid #ff5200;
    cursor: pointer;
}

.ChunkData {
    margin: 20px;
}

#itemList {
    margin: 20px;
}

#itemList ol {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(49, 66, 66);
}

.foodInfoLinks {
    margin: 30px 0px 50px 17px;
}

.foodInfoLinks a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
    background: #fb5200;
    padding: 15px 26px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 3px;
}

.foodInfoLinks a:hover {
    color: white;
    background: #000;
    transition: 0.6s;
}